.option {

    // .option__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10);
    }

    // .option__item

    &__item {
        display: flex;
        align-items: center;
        gap: rem(10);
        background: var(--gray-3);
        @include adaptiveValue("font-size", 16,14 );
        line-height: math.div( 28,22 );
        font-weight: 500;
        border-radius: rem(10);
        padding: rem(11) rem(15);
        transition: var(--transition);

        &:hover {
           background: #eeeeee;
        }
    }

    // .option__icon

    &__icon {
        background: url('@img/icons/CheckCircle-blue.svg') no-repeat;
        min-width: rem(16);
        min-height: rem(16);
        display: block;
    }
}
