.request-block {
    margin-top: rem(25);
}

.request {

    // .request__list

    &__list {}

    // .request__title

    &__title {
        @include adaptiveValue("font-size", 18, 16);
        margin-bottom: rem(10);
    }

    // .request__item

    &__item {
        display: flex;
        justify-content: space-between;
        padding: rem(13) 0;

        &._completed {
            .request__info {
                opacity: .5;
            }

            .request__wrap {
                opacity: .5; 
            }
        }


        border-top: 1px solid var(--gray-light);

        &:last-child {
            border-bottom: 1px solid var(--gray-light);
        }

        @media (min-width:$mobile) {
            align-items: center;
        }

        @media (max-width:$mobile) {
            flex-direction: column;
        }
    }

    // .request__profile

    &__profile {
        display: flex;
        align-items: center;
        gap: rem(15);
        flex: 0 1 50%;
        margin-right: rem(15);
    }

    // .request__avatar

    &__avatar {
        position: relative;
        z-index: 1;
        width: rem(46);
        height: rem(46);
        background-color: var(--white);
        border-radius: 50%;
        box-shadow: 4px 4px 44px rgba(39, 49, 74, 0.12);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            display: block;
            background: url('@img/icons/user-2.svg');
            width: rem(22);
            height: rem(22);
            background-size: contain;
        }

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    // .request__info

    &__info {}

    // .request__address

    &__address {
        display: block;
        font-size: rem(12);
        margin-bottom: rem(5);
    }




    // .request__reception

    &__reception {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: rem(5);
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(28, 22);
        font-weight: 500;


    }

    // .request__reception-active

    &__reception-active {
        color: var(--pink);
    }



    // .request__reception-await

    &__reception-await {
        color: #91AC6E;
    }


    // .request__assistant

    &__assistant {}

    // .request__body

    &__body {
        display: flex;
        justify-content: space-between;
    }



    // .request__wrap

    &__wrap {
        display: flex;
        gap: rem(16);

        @media (min-width:$mobile) {
            margin-right: rem(35);
        }

        @media (max-width:$mobile) {
            margin-right: rem(15);
        }

        @media (max-width:$mobileSmall) {
            flex-direction: column;
            gap: 0;
        }
    }


    // .request__itemInfo

    &__itemInfo {
        padding: rem(9) rem(12);
        border-radius: rem(13);
    }



    // .request__itemTime

    &__itemTime {
        max-width: rem(67);


        &._active {
            background: var(--blue-dark);
            color: var(--white);

            .request__itemInfo-text {
                color: var(--white);

            }
        }
    }

    // .request__itemInfo-text

    &__itemInfo-text {
        color: var(--gray-7);
        font-size: rem(12);
        margin-bottom: rem(5);
    }

    // .request__itemInfo-value

    &__itemInfo-value {
        @include adaptiveValue("font-size", 16, 12);
        font-weight: 500;
        white-space: nowrap;
    }

    // .request__control

    &__control {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: rem(10);
        width: rem(60);
    }
}


.request-monitoring {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(17);
    border-radius: rem(24);
    border: 1px solid var(--pink);
    padding: rem(11) rem(15);
    margin-bottom: rem(30);
    margin-top: rem(40);
    min-height: rem(70);


    @media (max-width:$mobileSmall){
         padding: rem(10); 
    }

    .icon__arrow-right {
        margin: 0 rem(6);

        @media (max-width:$mobileSmall){
             display: none; 
        }
    }

    // .request-monitoring__wrap

    &__wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
        @include adaptiveValue("font-size", 16,12);
        line-height: math.div( 28,22 );
    }

    // .request-monitoring__title

    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 12,10 );
        color: var(--pink);
        margin-bottom: rem(8);
    }

    // .request-monitoring__ward

    &__ward {
        display: flex;
        align-items: center;
    }

    // .request-monitoring__address

    &__address {}



    // .request-monitoring__body

    &__body {
        display: flex;
        align-items: center;
        gap: rem(17);

        @media (max-width:$mobileSmall){
             gap: rem(10); 
        }
    }



    // .request-monitoring__icon

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(34);
        height: rem(34);
        min-width: rem(34);
        min-height: rem(34);
        background: var(--white);
        border-radius: rem(8);
    }


}


