.schedule {
    overflow: auto;
    padding-bottom: rem(15);
    // .schedule__list

    &__list {
        display: flex;
        align-items: center;
        gap: rem(6);

       
    }

    // .schedule__item

    &__item {
        display: flex;
        flex: 1 1 auto;
        max-width: rem(62);
        min-width: rem(62);
        max-height: rem(80);
        flex-direction: column;
        align-items: center;
        background: var(--gray-3);
        border-radius: rem(10);
        font-size: rem(12);
        padding: rem(5);


    }

    // .schedule__week

    &__week {
        display: block;
        padding: rem(4) 0;
    }

    // .schedule__time-from

    &__time-from {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: rem(6) 0;
        font-weight: 500;
        border-bottom: 1px solid #DBDBDB;
    }

    // .schedule__time-to

    &__time-to {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: rem(6) 0;
        font-weight: 500;
    }
}

.workSchedule {
    overflow: auto;
    padding-bottom: rem(12);
    



	// .workSchedule__list

		&__list {
            display: flex;
		}


    // .workSchedule__block

    &__block {
        min-width: rem(102);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(5);
        border-radius: rem(10);
        font-size: rem(12);
        &:nth-child(odd) {
            background: var(--gray-3);
        }

    }

    // .workSchedule__day

    &__day {
        padding: rem(5) 0;
    }

    // .workSchedule__time

    &__time {
        font-weight: 500;
        padding: rem(6) 0;
        width: 100%;
        text-align: center;

        &._from {
            border-bottom: 1px solid #DBDBDB;
        }
  
    }

    // .workSchedule__weekend

    &__weekend {
        padding: rem(6) rem(5) 0;
        color: var(--gray);
        font-weight: 500;
        text-align: center;
        line-height: math.div( 28,22 );
    }
}

