.slider-button {

    // .slider-button__prev

    &__prev,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(38);
        height: rem(38);
        border-radius: 50%;
        background: #F2F2F2;
    }

    // .slider-button__next

    &__next {}


    &__prev {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: rem(-35);
        transition: var(--transition);

        &:hover {
            background-color: #E6E6E6;
        }
    }

    &__next {
        position: absolute;
        top: 50%;
        right: rem(-35);
        transform: translate(50%, -50%);
        transition: var(--transition);

        &:hover {
            background-color: #E6E6E6;
        }
    }

}

.slider-gallery {
    position: relative;
    display: flex;
    border-radius: rem(15);
    overflow: hidden;

    &:hover {
        &::before {
            opacity: .1;
        }
    }

    &::before {
        content: '';
        background: #000;
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: var(--transition);
    }
}


@media (max-width: em(1500)) {

    .slider-button__prev {
        left: rem(5)
    }

    .slider-button__next {
        right: rem(5)
    }


}

@media (max-width:$mobile) {

    .slider-button__prev,
    .slider-button__next {
        display: none;
    }
}



.week {



    // .week__slider-container

    &__slider-container {
        position: relative;
        padding: 0 rem(25);
    }


    // .week__slider

    &__slider {}

    // .week__wrapper

    &__wrapper {}

    // .week__slide

    &__slide {}

    // .week__item

    &__item {
        text-align: center;

        &._active {
            .week__item-body {
                background: var(--pink);
            }

            .week__time--from::after {
                background: #E87294;
            }
        }
    }

    // .week__item-title

    &__item-title {
        color: var(--gray-4);
        font-weight: 500;
        font-size: rem(12);
        margin-bottom: rem(5);
    }

    // .week__item-body

    &__item-body {
        padding: rem(7) rem(2) rem(8) rem(2);
        width: rem(42);
        border-radius: rem(10);
        background: var(--blue-dark);
        color: var(--white);
        transition: var(--transition);

        .week__number {

            margin-bottom: rem(6);
        }

    }

    // .week__number

    &__number {
        display: block;
        font-size: rem(12);
        font-weight: 500;
    }

    // .week__time

    &__time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(4);
        font-size: rem(10);
        font-weight: 500;
    }

    // .week__time--from

    &__time--from {
        &::after {
            content: '';
            width: rem(18);
            height: rem(1);
            background: #546183;
            border-radius: rem(3);
        }
    }

    // .week__time--to

    &__time--to {}

    // .week__number-wrap

    &__number-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(28);
        height: rem(28);
        background: var(--gray-3);
        border-radius: rem(10);
        color: var(--gray-4);
        font-size: rem(12);
        font-weight: 500;

    }

    // .week__slide-prev

    &__slide-prev {
        position: absolute;
        top: rem(22);
        left: 0;

        svg {
            path {
                transition: all .2s ease;
            }
        } 

        &:hover {
            svg {
                path {
                    stroke: var(--pink);
                }
               
            }
        }
    }

    // .week__slide-next

    &__slide-next {
        position: absolute;
        top: rem(22);
        right: 0;

        svg {
            path {
                transition: all .2s ease;
            }
        } 

        &:hover {
            svg {
                path {
                    stroke: var(--pink);
                }
               
            }
        }

       
    }
}