.tariff {



    .title-main {
        margin-bottom: rem(10);
    }


    // .tariff__container

    &__container {}

    // .tariff__row

    &__row {
        display: grid;
        gap: rem(15);
    }

    // .tariff__card

    &__card {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #F1ECEC, #f1ecec36) border-box;
        border: 1px solid transparent;
        padding: rem(25) rem(30) rem(30) rem(30);
        border-radius: rem(34);

        .notice {
            margin-bottom: rem(18);
        }

        &._active {
            background: var(--gray-3);
        }
    }

   

		// .tariff__inner

		&__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(24);
		}


    // .tariff__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .tariff__col

    &__col {}

    // .tariff__subtitle

    &__subtitle {
        font-size: rem(12);
        color: #BAB9CA;
        font-weight: 500;
        margin-bottom: rem(8);
    }

    // .tariff__name

    &__name {
        white-space: nowrap;
        @include adaptiveValue("font-size", 28, 20);
        font-weight: 500;
        margin-bottom: rem(18);




    }



    // .tariff__name-contact

    &__name-contact {
        &::before {
            content: '·';
            padding-right: rem(5);
        }
    }


    // .tariff__price

    &__price {
        
    }

    // .tariff__price-total

    &__price-total {
        white-space: nowrap;
        display: block;
        @include adaptiveValue("font-size", 24, 18);
        font-weight: 500;
        margin-bottom: rem(5);
    }

    // .tariff__price-text

    &__price-text {
        display: block;
        color: #BAB9CA;
        font-size: rem(12);
        font-weight: 500;
    }

    // .tariff__icon

    &__icon {
        &._small {
            img {
                max-width: rem(66);
            }
            
        }
    }

    // .tariff__body

    &__body {
        flex: 1 1 auto;
    }

    // .tariff__desc

    &__desc {
        max-width: rem(290);
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(28, 20);
        margin-bottom: rem(30);
        margin-top: rem(20);
    }

    // .tariff__list

    &__list {
        margin-bottom: rem(40);
    }

    // .tariff__item

    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        @include adaptiveValue("font-size", 14, 12);
        margin-bottom: rem(15);

        &:last-child {
            margin-bottom: rem(0);
        }

        &::before {
            content: '';
            display: inline-block;
            background: url('@img/icons/CheckCircle.svg') no-repeat;
            width: rem(14);
            height: rem(14);
            margin-right: rem(7);
            background-size: cover;
        }
    }

    // .tariff__bottom

    &__bottom {}

    // .tariff__option

    &__option {
        display: inline-flex;
        padding: rem(5) rem(10);
        align-items: center;
        background: var(--gray-3);
        border-radius: rem(10);
        font-weight: 500;
        color: var(--pink);
        font-size: rem(14);
        margin-bottom: rem(15);

        &._blue {
            background: var(--blue);
            color: var(--white);
        }
    }

    // .tariff__payment

    &__payment {
        margin-top: rem(105);
    }

    // .tariff__payment-title

    &__payment-title {
        @include adaptiveValue("font-size", 24,20 );
        font-weight: 500;
        margin-bottom: rem(12);
    }

    // .tariff__payment-text

    &__payment-text {
        @include adaptiveValue("font-size", 16,14 );
        line-height: math.div(28,20 );
        margin-bottom: rem(15);
    }

    // .tariff__payment-item

    &__payment-item {

    }

   
	// .tariff__payment-list

	&__payment-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(20);
	}



}


.tariff-lk {

    // .tariff-lk__row

    &__row {
        display: grid;
        grid-template-columns: repeat(3,1fr);   
        gap: rem(15);
        overflow: auto;
        padding-bottom: rem(15);

        .tariff__card {
            min-width: rem(320);
        }

    }
}



@media (max-width:$mobile){
    .tariff__payment {
        margin-top: rem(50);
    } 
}




@media (min-width:em(1199)){
    .tariff__row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: em(1199)){
    .tariff__row {
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media (max-width:$mobile){
    .tariff__row {
        grid-template-columns: repeat(1, 1fr);
    }   
}

@media (max-width:$mobileSmall){
     .tariff__icon {
        img {
            width: rem(60);
        }
     } 
}