.badge {
      display: inline-flex;
      align-items: center;
      border-radius: rem(16);
      font-weight: 500;
      font-size: rem(12);
      height: rem(24);

      // ._dark

      &._dark {
            padding: rem(5) rem(14);
            background: var(--blue-dark);
            color: var(--white);
      }

      // ._success

      &._success {
            gap: rem(12);
            background: var(--gray-3);
            color: var(--pink);
            padding: rem(5) rem(5) rem(5) rem(14);

      }

        // ._success-dark

        &._success-dark {
            gap: rem(8);
            background: var(--gray-3);
            color: var(--blue-dark);
            padding: rem(5) rem(5) rem(5) rem(14);

      }

      // primary

      &._primary {
            gap: rem(8);
            background: var(--gray-3);
            color: var(--pink);
            padding: rem(5) rem(5) rem(5) rem(14);

      }



      // ._secondary

      &._secondary {
            gap: rem(8);
            padding: rem(5) rem(2) rem(5) rem(14);
            background: var(--blue-dark);
            color: var(--white);
      }




      // ._confirmed

      &._confirmed {
            padding: rem(5) rem(15);
            font-weight: 500;
            color: var(--pink);
            background: var(--gray-3);
            border-radius: rem(10);
            font-size: rem(14);
            position: absolute;
            z-index: -1;
            top: 50%;
            right: rem(16);
            transform: translate(0,-50%);
      }


   
    
      
  
      
      


}


.badge-approval {
      display: flex;
      align-items: center;
      padding: rem(5) rem(13);
      background: var(--pink);
      color: var(--white);
     @include adaptiveValue("font-size", 14,12 );
      font-weight: 500;
      border-radius: rem(10);
      color: var(--white);
}
