.toggle-switch {
    display: inline-block;
    background: #BFC3CE;
    border-radius: 16px;
    width: rem(36);
    height: rem(20);
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: rem(14);
    height: rem(14);
    position: absolute;
    top: rem(3);
    left: rem(3);
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: var(--pink);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: rem(19);
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    position: relative;
    font-weight: 500;
  }