.letter {

    @media (min-width:$mobile){
         margin-top: rem(100); 
    }

    @media (max-width:$mobile){
         margin-top: rem(40);; 
    }

    // .letter__container

    &__container {
        
    }

    // .letter__title

    &__title {
        margin-bottom: rem(40);
    }

    // .letter__slider-container

    &__slider-container {
        position: relative;
    }

    // .letter__slider

    &__slider {
    }
}

