.icon {

    // .icon__location

    &__location {
        display: block;
        background: url('@img/icons/location.svg') no-repeat;
        min-width: rem(16);
        min-height: rem(16);
        width: rem(16);
        height: rem(16);
        background-size: contain;
    }

    // .icon__clock

    &__clock {
        display: block;
        background: url('@img/icons/clock.svg') no-repeat;
        width: rem(16);
        height: rem(16);
        background-size: contain;
    }

    // .icon__briefcase

    &__briefcase {
        display: block;
        background: url('@img/icons/briefcase.svg') no-repeat;
        width: rem(16);
        height: rem(16);
        background-size: contain;
    }

    // .icon__like-shapes

    &__like-shapes {
        display: block;
        background: url('@img/icons/like-shapes.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }

    // .icon__play

    &__play {
        display: block;
        background: url('@img/icons/play.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }

    // .icon__play-lg

    &__play-lg {
        display: block;
        background: url('@img/icons/play.svg') no-repeat;
        width: rem(34);
        height: rem(34);
        background-size: contain;
    }



    // .icon__unlock

    &__unlock {
        display: block;
        background: url('@img/icons/unlock.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }

    // .icon__calendar

    &__calendar {
        display: block;
        background: url('@img/icons/calendar.svg') no-repeat;
        width: rem(18);
        height: rem(18);
        background-size: contain;
        pointer-events: none;
    }

    // .icon__clock-2

    &__clock-2 {
        display: block;
        background: url('@img/icons/clock-2.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }




    // .icon__user

    &__user {
        display: block;
        background: url('@img/icons/user-2.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }




    // .icon__eye

    &__eye {
        cursor: pointer;
        display: block;
        background: url('@img/icons/eye-slash.svg') no-repeat;
        min-width: rem(18);
        min-height: rem(18);
        background-size: contain;
        position: absolute;
        top: 50%;
        right: rem(5);
        transform: translate(-50%, -50%);

        &._viewpass-active {
            background: url('@img/icons/eye.svg') no-repeat;
        }
    }

    // .icon__mail-badge

    &__mail-badge {
        position: absolute;
        top: rem(4);
        left: rem(-20);
        display: flex;
        width: rem(12);
        height: rem(12);
        background: #D1416B;
        border-radius: rem(50);

        @media (max-width: em(575)) {
            width: rem(10);
            height: rem(10);
            left: rem(-16);
            top: rem(5);
        }
    }



    // .icon__message

    &__message {
        display: block;
        background: url('@img/icons/message-text.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }



    // .icon__arrow-right

    &__arrow-right {
        display: block;
        background: url('@img/icons/right.png') no-repeat;
        width: rem(14);
        height: rem(14);
        background-size: contain;


    }




    // .icon__security-user

    &__security-user {
        display: block;
        background: url('@img/icons/security-user.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }





    // .icon__camera

    &__camera {
        display: block;
        background: url('@img/icons/camera-2.svg') no-repeat;
        width: rem(52);
        height: rem(52);
        background-size: contain;
    }



    // .icon__del

    &__del {
        display: block;
        background: url('@img/icons/close-circle.svg') no-repeat;
        width: rem(16);
        height: rem(16);
        background-size: contain;

    }



    // .icon__plus

    &__plus {
        display: block;
        background: url('@img/icons/plus.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }




    // .icon__back

    &__back {
        display: block;
        background: url('@img/icons/back.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        background-size: contain;
    }



    // .icon__accepted

    &__accepted {
        display: block;
        background: url('@img/icons/user-tick.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }




    // .icon__send

    &__send {
        display: block;
        background: url('@img/icons/send.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }



    // .icon__photo

    &__photo {
        display: block;
        background: url('@img/icons/camera.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        background-size: contain;
    }



    // .icon__share

    &__share {
        display: block;
        background: url('@img/icons/share.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        background-size: contain;
    }



    // .icon__clock-light

    &__clock-light {
        display: block;
        background: url('@img/icons/clock-white.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }



    // .icon__add-circle

    &__add-circle {
        display: block;
        background: url('@img/icons/add-circle.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }



    // .icon__like-shapes-dark

    &__like-shapes-dark {
        display: block;
        background: url('@img/icons/like-shapes-dark.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }




    // .icon__clock-red

    &__clock-red {
        display: block;
        background: url('@img/icons/clock-red.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }




    // .icon__info

    &__info {
        display: block;
        background: url('@img/icons/info-circle.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }




    // .icon__flag

    &__flag {
        display: block;
        background: url('@img/icons/flag.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }



    // .icon__receipt

    &__receipt {
        display: block;
        background: url('@img/icons/receipt.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }



    // .icon__tick-circle

    &__tick-circle {
        display: block;
        background: url('@img/icons/tick-circle.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }



    // .icon__story

    &__story {
        display: block;
        background: url('@img/icons/story.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }




    // .icon__message-text

    &__message-text {
        display: block;
        background: url('@img/icons/message-text_2.svg') no-repeat;
        min-width: rem(24);
        min-height: rem(24);
        background-size: contain;
    }



    // .icon__user-cirlce-add

    &__user-cirlce-add {
        display: block;
        background: url('@img/icons/user-cirlce-add.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;
    }



    // .icon__camera-mini

    &__camera-mini {
        display: block;
        background: url('@img/icons/camera.svg') no-repeat;
        width: rem(20);
        height: rem(20);
        background-size: contain;

    }





    // .icon__arrow-down

    &__arrow-down {
        display: block;
        background: url('@img/icons/arrow-down_pink.svg') no-repeat;
        width: rem(18);
        height: rem(18);
        background-size: contain;


    }



    // .icon__add-square

    &__add-square {
        display: block;
        background: url('@img/icons/add-square.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        background-size: contain;
    }

    // .icon__tick-square 
    &__tick-square {
        display: block;
        background: url('@img/icons/tick-square.svg') no-repeat;
        width: rem(24);
        height: rem(24);
        background-size: contain;
    }






}