.breadcrumb-nav {
    padding: rem(10) 0;
    margin-bottom: rem(25);
    // .breadcrumb-nav__list

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    // .breadcrumb-nav__item

    &__item {
        font-size: rem(12);
        padding-left: rem(8);
        color: #BEC4D0;
        text-transform: lowercase;

        a {
            transition: var(--transition);
        }
       
        &:hover {
            a {
                color: var(--blue-dark);
            }
          
        }

        &:first-child {
            padding-left: 0;
          &::before {
            content: none;
          }
        } 

        &::before {
            content: '<';
            padding-right: rem(8);
          
        }
        &._active {

        }
    }
}
