// Заголовки, общие БЄМ блоки и проче...
:root {
    --white: #fff;
    --pink: #D1436D;
    --pink-dark: #be345e;
    --transition: background-color .2s ease, border-color .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease, opacity .2s ease;
    --blue-dark: #27314A;
    --blue: #07B3E8;
    --gray: #ACB2C1;
    --gray-2: #F5F5F5;
    --gray-3: #F2F2F2;
    --gray-4:   #9EA2AD;
    --gray-5: #BEC4D0;
    --gray-6:  #BAB9CA;
    --gray-7:  #BBBDC3;
    --gray-light: #F1ECEC;
    --green: #B3C997;
    --red: #F13636;
  

    
}


.title-main {
    @include adaptiveValue("font-size", 44,24 );
    line-height: math.div( 28,24 );
    font-weight: 300;   
}

.title-md {
  @include adaptiveValue("font-size", 16,14);
  line-height: math.div( 28,22 );
  font-weight: 500;
}

.text-main {
    line-height: math.div( 28,20 );
    @include adaptiveValue("font-size", 18,16 );
    font-weight: 400;
}

.text-md {
  @include adaptiveValue("font-size", 16,14 );
  line-height: math.div( 28,20 );
}


::selection {
    background-color: var(--pink);
    color: var(--white);
}


::-moz-selection {
     background-color: var(--pink);
    color: var(--white);
}

.w-100 {
    width: 100%;
}


.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mt-2 {
  margin-top: rem(40)!important;
}

.mb-15 {
  margin-bottom: rem(15);
}

.mb-15 {
  margin-bottom: rem(15);
}

.mt-40 {
  margin-top: rem(40);
}

.mt-50 {
  margin-top: rem(50);
}

.mb-50 {
  margin-bottom: rem(50);
}

.mb-40 {
  margin-bottom: rem(40);
}

.mb-30 {
  margin-bottom: rem(30);
}

.mb-35 {
  margin-bottom: rem(35);
}

.mb-20 {
  margin-bottom: rem(20);
}

.loadMore {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: rem(20) rem(30);
    margin-top: rem(40);
}


/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: rem(100);
  height: rem(100);
  display: inline-block;
  padding: 0;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: rem(100);
  height: rem(100);
  border-radius: 100%;
  background: var(--pink);
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}


.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* добавляем плавную анимацию затухания */
}




input[type="password"] {
  font-family: caption;
  letter-spacing: 5px;
}




