.slider-button {

    // .slider-button__prev

    &__prev,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(38);
        height: rem(38);
        border-radius: 50%;
        background: #F2F2F2;
    }

    // .slider-button__next

    &__next {
    }


    &__prev {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: rem(-35);
        transition: var(--transition);
    
        &:hover {
            background-color: #E6E6E6;
        }
    }
    &__next {
        position: absolute;
        top: 50%;
        right: rem(-35);
        transform: translate(50%,-50%);
        transition: var(--transition);
    
        &:hover {
            background-color: #E6E6E6;
        }
    }
    
}



@media (max-width:$mobile){
    .slider-button__prev, .slider-button__next {
        display: none;
    } 
}